*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: url(../gym.jpg)  ;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;


}

.container{
    background-color: white;
    width: 500px;
    height: 650px;
    border-radius: 20px;
    padding: 20px;
}

.container h1{
    text-align: center;
    margin-bottom: 20px;
}

.container table{
    width: 100%;
    border-collapse: collapse;
}
.container table th{
    background-color: #027c7c;
    color: white;
    font-size: large;
}
.container table th, td{
    border: 1px solid rgba(112, 112, 112, 0.082);
    padding: 10px;
    text-align: start;
    font-size: normal;
}
.container table .numeros{
    text-align: end;
}
.container form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.container form > h2{
    color: #000000;
    margin-bottom: 15px;
}

.container form input{
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.144);
}
.container form button{
    
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    background-color: #027c7c;
    color: white;
    cursor: pointer;
    font-size: large;
    display: flex;
    
    justify-content: center;
    margin: 0 auto;


}
.bad{
    color: red;
    margin: 20px;
}
.paragrafo-resultado{
    color: green;
    margin: 20px;
}
